<h1>My profile: {{name}}</h1>
<div class="container">
    <div class="col-md-4">
        <h3>Want to watch</h3>
        <div id="want-to-watch">
            {{#if materialsWant}}
            <ul>
            {{#each materialsWant}}
                <li class="material-info">
                    <h4><a href="#/materials/{{id}}">{{title}}</a></h4>
                    <p>Description: {{#if description}}{{description}}{{else}}No description{{/if}}</p>
                    <p>Rating: {{rating}}</p>
                    <p>Created by: <a href="#/profiles/{{user.username}}">{{user.username}}</a></p>
                    <p>Created on: {{createdOn}}</p>
                </li>
            {{/each}}
            </ul>
             {{else}}
             <h4>No materials in this category</h4>
            {{/if}}
        </div>
    </div>
    <div class="col-md-4">
        <h3>Watched</h3>
        <div id="watched">
            {{#if materialsWatched}}
            <ul>
            {{#each materialsWatched}}
                <li class="material-info">
                    <h4><a href="#/materials/{{id}}">{{title}}</a></h4>
                    <p>Description: {{#if description}}{{description}}{{else}}No description{{/if}}</p>
                    <p>Rating: {{rating}}</p>
                    <p>Created by: <a href="#/profiles/{{user.username}}">{{user.username}}</a></p>
                    <p>Created on: {{createdOn}}</p>
                </li>
            {{/each}}
            </ul>
            {{else}}
             <h4>No materials in this category</h4>            
            {{/if}}
        </div>
    </div>
    <div class="col-md-4">
        <h3>Watching</h3>
        <div id="watching">
            {{#if materialsWatching}}
            <ul>
            {{#each materialsWatching}}
                <li class="material-info">
                     <h4><a href="#/materials/{{id}}">{{title}}</a></h4>
                    <p>Description: {{#if description}}{{description}}{{else}}No description{{/if}}</p>
                    <p>Rating: {{rating}}</p>
                    <p>Created by: <a href="#/profiles/{{user.username}}">{{user.username}}</a></p>
                    <p>Created on: {{createdOn}}</p>
                </li>
            {{/each}}
            </ul>
            {{else}}
             <h4>No materials in this category</h4>            
            {{/if}}
        </div>
    </div>
</div>